{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/care-team",
text: "Care team"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-u-margin-bottom-4">Requesting organisation</h2>

    <form action="/rare-disease/referral/care-team/responsible-clinician" id="form-rare-care-team" method="post">
    <label class="nhsuk-label" for="HPO-terms">
      Organisation name
    </label>

    <div class="nhsuk-hint" id="nhs-number-hint">
      Type to search by organisation name or ID
    </div>

    {%- set organisationList = [
      'South Tyneside NHS Foundation Trust',
      'Southern Health NHS Foundation Trust',
      'South Warwickshire NHS Foundation Trust',
      'Southport and Ormskirk Hospital NHS Trust',
      'Southend University Hospital NHS Foundation Trust',
      'University Hospital Southampton NHS Foundation Trust',
      'South Tees Hospitals NHS Foundation Trust',
      'Torbay and South Devon NHS Foundation Trust',
      'South London and Maudsley NHS Foundation Trust',
      'Norfolk and Norwich University Hospitals NHS Foundation Trust',
      'East and North Hertfordshire NHS Trust',
      'North Cumbria University Hospitals NHS Trust',
      'Northumbria Healthcare NHS Foundation Trust',
      'North Bristol NHS Trust',
      'North East London NHS Foundation Trust',
      'Northampton General Hospital NHS Trust',
      'North West Boroughs Healthcare NHS Foundation Trust',
      'University Hospitals of North Midlands NHS Trust',
      'West Suffolk NHS Foundation Trust',
      'Weston Area Health NHS Trust',
      'Western Sussex Hospitals NHS Foundation Trust',
      'Chelsea and Westminster Hospital NHS Foundation Trust',
      'West Hertfordshire Hospitals NHS Trust',
      'Great Western Hospitals NHS Foundation Trust',
      'West London Mental Health NHS Trust',
      'London North West Healthcare NHS Trust',
      'Greater Manchester Mental Health NHS Foundation Trust',
      'Great Western Hospitals NHS Foundation Trust',
      'Great Ormond Street Hospital for Children NHS Foundation Trust'
      ]
      %}
    <select id="rare-care-team" action="/rare-disease/referral/care-team/responsible-clinician" name="rare-care-team" title="Select a Requesting organisation">
      <option></option>
      {%- for organisation in organisationList %}
        {%- set selected = ' selected' if req.session.data['rare-care-team'] === organisation else '' %}
        <option value="{{ organisation }}"{{ selected }}>{{ organisation }}</option>
        {%- endfor %}

    </select>

    <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
    <script type="text/javascript" src="/js/accessible-autocomplete.min.js">
    </script>

    <script>
      accessibleAutocomplete.enhanceSelectElement({
        defaultValue: '',
        selectElement: document.querySelector('#rare-care-team')
      })
    </script>

    <div style="margin-top: 3rem">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit"
        draggable="false" role="button">
        Save and continue
      </button>
    </div>
  </form>
  </div>
</div>
{% endblock %}
