// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  

.gel-header {
    align-content: center;
  }
  
.gel-logout-btn {
color: #FFFFFF;
background: #005EB8;
border-radius: 4px;
border: 1px solid #FFF;
padding: 16px;
}
  
.nhsuk-second-header__patient-data {
background: #D8DDE0;
padding: 12px 0;

}

.nhsuk-second-header__patient-data__container {
display: flex;
justify-content: center;
margin: auto;
max-width: 960px;
padding-left: 100px;
}
  
.nhsuk-second-header__patient-data__container > p {
margin: 0 24px 0 0;
}
  
.nhsuk-header__logo--only .nhsuk-header__service-name {
padding: 6px 0 6px 16px;
margin-left: 16px;
border-left:solid 1px #fff;
}