{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block beforeContent %} {% from 'breadcrumb/macro.njk' import
breadcrumb %} {{ breadcrumb({ items: [ { href: "/cancer/referral", text:
"Referral #123456789" } ], href: "/cancer/referral/tumour", text:
"Tumour sample" }) }} {% endblock %} {% block outerContent %}
{% from 'input/macro.njk' import input %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'radios/macro.njk' import radios %}
<div class="nhsuk-back-link" style="margin-top: 2rem"></div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">Tumour sample being sent to GLH DNA extraction lab (optional)</h1>
        <form action="/cancer/referral/germline-samples/" method="post" class="form">

            {{ radios({
                "idPrefix": "sample-type",
                "name": "sample-type",
                "fieldset": {
                  "legend": {
                    "text": "Sample type",
                    "isPageHeading": false
                  }
                },
                "items": [
                  {
                    "value": "fresh-frozen-tumour",
                    "text": "Fresh frozen tumour"
                  },
                  {
                    "value": "bone-marrow",
                    "text": "Bone marrow"
                  },
                  {
                    "value": "blood",
                    "text": "Blood (EDTA)"
                  },
                  {
                    "value": "other",
                    "text": "Other"
                  }
                ]
              }) }}
        
        {{ input({
            label: {
            text: "Sample ID"
            },
            id: "sampleId",
            name: "sampleId",
            classes: "nhsuk-input--width-20"
            }) }}
            <div class="nhsuk-form-group">
                {% call fieldset({
                    legend: {
                      text: "Date of collection",
                      isPageHeading: false
                    }
                  }) %}

                  <div class="nhsuk-date-input" id="t-doc">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="t-doc-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="t-doc-day" name="t-doc[day]"
                          type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="t-doc-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="t-doc-month" name="t-doc[month]"
                          type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="t-doc-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="t-doc-year" name="t-doc[year]"
                          type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                  {% endcall %}
            </div>
            <div class="nhsuk-form-group">
                  {% call fieldset({
                    legend: {
                      text: "Time of collection",
                      isPageHeading: false
                    }
                  }) %}
                  
                    <div class="nhsuk-hint" id="example-with-hint-text-hint">
                        For example, 14:22
                      </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="t-doc-hour">
                          Hour
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-2" id="t-doc-hour" name="t-doc[hour]"
                          type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="t-doc-minute">
                          Minute
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-2" id="t-doc-minute" name="t-doc[minute]"
                          type="text" inputmode="numeric">
                      </div>
                  </div>
                  {% endcall %}
            </div>            

                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="malignant-nuclei-blasts">
                        % malignant nuclei/blasts
                      </label>
                      <div class="nhsuk-hint" id="example-with-hint-text-hint">
                        Percentage malignant nuclei/blasts or equivalent in this sample must be provided. Refer to sample handling guidance.
                      </div>
                      <input class="nhsuk-input nhsuk-input--width-5" id="malignant-nuclei-blasts" name="malignant-nuclei-blasts"
                        type="text" inputmode="numeric">
                    </div>

                  
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="BM-PM-volume">
                        If BM/PM provide volume and nucleated cell count
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-full" id="BM-PM-volume" name="BM-PM-volume"
                        type="text">
                    </div>
                  
        <button
            class="nhsuk-button"
            data-module="nhsuk-button"
            type="submit"
            draggable="false"
            role="button"
        >
        Save and continue
        </button>
        </form>
    </div>
</div>
{% endblock %}
