{% set textHtml %}
{% from 'textarea/macro.njk' import textarea %}
{{ textarea({
name: "example", id: "example", label: { text: "Details of why this referral
considered urgent. "},
hint: {
    text: "There is currently no urgent WGS pathway. It may be possible to prioritise some cases."
   } }) }}
{% endset -%}

{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}
{% set cancerPatientData = true %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}


{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Variant search</h1>
        <p class="nhsuk-u-margin-bottom-6">Use this tool to search available datasets to find  variance linked to different type types of cancer.</p>
        
        {{
            radios({
                classes: "nhsuk-u-margin-bottom-4",
                idPrefix: "test-req",
                name: "test-req",
                fieldset: {
                    legend: {
                        text: "Select data source",
                        classes: "nhsuk-fieldset__legend--s",
                        isPageHeading: false
                        }
                    },
                hint: { html: hintHtml },
                items: [ { value: "100K Genomes Project Pan-Cancer data", text: "100K Genomes Project Pan-Cancer data" }, { value: "Genomics England haematological and solid tumour cancers data", text: "Genomics England haematological and solid tumour cancers data" } ]
            })
        }}
        
        {% from 'radios/macro.njk' import radios %}
        {% from 'input/macro.njk' import input %}

        {% set HGVScHtml %}
          {{ input({
            id: "HGVSc",
            name: "HGVSc",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "HGVSc variant"
            },
            hint: {
              text: "For example ENST00000324856.13:c.1113dup"
            }
          }) }}
        {% endset -%}

        {% set HGVSpHtml %}
          {{ input({
            id: "HGVSp",
            name: "HGVSp",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "HGVSp variant"
            },
            hint: {
              text: "For example ENST00000493543.1:p(Val600Glu)"
            }
          }) }}
        {% endset -%}

        {% set geneHtml %}
          {{ input({
            id: "gene",
            name: "gene",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "HGNC gene symbol"
            },
            hint: {
              text: "For example BRAF"
            }
          }) }}
        {% endset -%}

        {% set positionHtml %}
          {{ input({
            id: "position",
            name: "position",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "Variant position (GRCh38)"
            },
            hint: {
              text: "For example chr7:140753336:A:T"
            }
          }) }}
        {% endset -%}

        {% set regionHtml %}
          {{ input({
            id: "region",
            name: "region",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "Region"
            },
            hint: {
              text: "For example chr7:140750000-140800000"
            }
          }) }}
        {% endset -%}


        {{ radios({
          idPrefix: "searchtype",
          name: "searchtype",
          fieldset: {
            legend: {
              text: "Search type",
              classes: "nhsuk-fieldset__legend--s",
              isPageHeading: "true"
            }
          },
          
          
          
          items: [
            {
              value: "HGVSc",
              text: "HGVSc",
              conditional: {
                html: HGVScHtml
              }
            },
            {
              value: "HGVSp",
              text: "HGVSp",
              conditional: {
                html: HGVSpHtml
              }
            },
            {
              value: gene,
              text: "Gene",
              conditional: {
                html: geneHtml
              }
            },
            {
              value: text,
              text: "Genomic position ",
              conditional: {
                html: positionHtml
              }
            },
            {
              value: text,
              text: "Region",
              conditional: {
                html: regionHtml
              }
            }
          ]
        }) }}


        <div class="nhsuk-form-group  nhsuk-u-margin-bottom-8
">
            <label class="nhsuk-label nhsuk-label--s" for="input-with-hint-text">
                Tumour type (optional)
            </label>
            <form id="clinical-indication-code-form" action="/cancer/referral/clinical-info" method="post">
            <div class="nhsuk-hint" id="input-with-hint-text-hint">
                Filter variant search results by phenotype. For example breast invasive carcinoma.
            </div>

            <select title="Clinical Indication code" name="clinical-indication-code" id="clinical-indication-code">
                <option></option>
                <option>Cancer of Unknown Primary - M226</option>
                <option>Cystic Nephroma - Paediatric - M131</option>
                <option>Undifferentiated tumour - M204</option>
                <option>Primary Mediastinal B Cell Lymphoma - M100</option>
                <option>Paediatric Type Follicular Lymphoma - M110</option>
                <option>T Cell Non-Hodgkin Lymphoma - M111</option>
                <option>Hepatosplenic T Cell Lymphoma - M116</option>
                <option>CNS High-Grade Neuroepithelial Tumour with MN1 Alteration - Paediatric - M126</option>
                <option>Desmoplastic Medulloblastoma - Paediatric - M133</option>
                <option>Ganglioglioma - Paediatric - 137</option>
                <option>Medulloblastoma Group 3/4 - Paediatric - 147</option>
                <option>Melanotic Tumours - Paediatric - 149</option>
                <option>Midline Carcinoma - Paediatric - 151</option>
                <option>Neuroblastoma - Paediatric - M152</option>
                <option>Oligoastrocytoma - Paediatric - M155</option>
                <option>Thyroid Papillary Carcinoma - Paediatric - M157</option>
                <option>Pituitary Blastoma - Paediatric - M159</option>
                <option>Wilms Tumours - Paediatric - M178</option>
                <option>WNT Medulloblastoma - Paediatric - M179</option>
                <option>Diffuse Midline Glioma - Paediatric - M183</option>
                <option>Glioma - Paediatric - M184</option>
                <option>Low Grade Glioma - Paediatric - M186</option>
                <option>Embryonal Tumour Differential - Adult and Paediatric - M190</option>
                <option>Low Grade Intrinsic Brain Tumour Differential - Adult - M191</option>
                <option>Round Cell Sarcoma of Soft Tissue Differential - M197</option>
                <option>Vascular Soft Tissue Tumour Differential - M198</option>
                <option>Spindle Cell Soft Tissue Tumour Differential - M199</option>
                <option>Adipocytic Soft Tissue Tumour Differential - M201</option>
                <option>Cartilage Forming Bone Tumour Differential - M205</option>
                <option>Astrocytoma - Adult - M21</option>
                <option>Acute Lympoblastic Leukaemia - M91.1</option>
            </select>

            <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
            <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>

            <script>
                accessibleAutocomplete.enhanceSelectElement({
                    defaultValue: "",
                    selectElement: document.querySelector("#clinical-indication-code"),
                });
            </script>
        </div>

        {% from 'radios/macro.njk' import radios %} {% from 'fieldset/macro.njk'
        import fieldset %} {% from 'hint/macro.njk' import hint %} {% set
        hintHtml -%}
        <label for="test-req" class="nhsuk-u-margin-bottom-2">

        {%- endset %} {% set hintHtmlCi -%}
        <p for="test-req" class="nhsuk-u-margin-bottom-2">
            Search by clinical indication or code listed in the
            <a href="#">Test directory</a>
        </p>
        {%- endset %}



        <button
            class="nhsuk-button"
            data-module="nhsuk-button"
            draggable="false"
            role="button"
            type="submit"
        >
            Search
        </button>
    </div>
</div>
{% endblock %}
