{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block beforeContent %} {% from 'breadcrumb/macro.njk' import
breadcrumb %} {{ breadcrumb({ items: [ { href: "/cancer/referral", text:
"Referral #123456789" } ], href: "/cancer/referral/clinical-info", text:
"Clinical info" }) }} {% endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem"></div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Relevant clinical information</h2>
        <div class="nhsuk-form-group">
        <form action="tumour-type" method="post">
        <div class="nhsuk-form-group nhsuk-u-margin-bottom-6">
            {% from 'textarea/macro.njk' import textarea %} {{ textarea({ name:
            "notes", id: "notes", label: { text: "Include previous tumours,
            molecular testing, and relevant treatment history with dates." } })
            }}
        </div>

        <button
            class="nhsuk-button"
            data-module="nhsuk-button"
            draggable="false"
            role="button"
            type="submit"
        >
            Save and continue
        </button>
    </form>
    </div>
</div>
{% endblock %}
