{% from 'fieldset/macro.njk' import fieldset %}
{% from 'input/macro.njk' import input %}
{% from 'radios/macro.njk' import radios %}

{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/referral",
text: "Referral #123456789"
}
],
href: "/referral/test",
text: "Test request"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-7">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-top-6" for="input-with-hint-text">
              Additional panel
          </label>

          <div class="nhsuk-hint" id="input-with-hint-text-hint">
              Use panels with panel type ’GMS rare disease virtual’ listed on <a href="https://panelapp.genomicsengland.co.uk">PanelApp</a>
          </div>
          <div class="nhsuk-u-width-two-thirds">
          <select id="add-panel" class="nhsuk-u-width-two-thirds">
            <option></option>
            <option>Acute intermittent porphyria (R169)</option>
            <option>Bleeding and platelet disorders (R90)</option>
            <option>Cholestasis (R171)</option>
            <option>Severe early-onset obesity (R149)</option>
            <option>Familial hypoparathyroidism (R153)</option>
            <option>Rare genetic inflammatory skin disorders (R332)</option>
            <option>Intestinal failure or congenital diarrhoea (R331)</option>
            <option>Other rare neuromuscular disorders (R381)</option>
            <option>Peutz Jeghers Syndrome (R212)</option>
            <option>Rare multisystem ciliopathy Super panel</option>
            <option>Variegate porphyria (R170)</option>
          </select>

          <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
          <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
          </script>

          <script>
            accessibleAutocomplete.enhanceSelectElement({
              defaultValue: '',
              selectElement: document.querySelector('#add-panel'),
            })
          </script>
        </div>
    </div>

    {% set currentPanel = 0 %} {% if req.query['panels'] and
    req.query['panels'] > 0 %} {% set currentPanel = req.query['panels'] | int %}
    {% endif %}
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
        <a
            class="nhsuk-button"
            data-module="nhsuk-button"
            href="/referral/test/test-request-summary?panels={{ currentPanel+1 }}"
            draggable="false"
            role="button"
        >
            Add panel
        </a>
    </div>
</div>
{% endblock %}
