{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="/patient-search">
        <svg
            class="nhsuk-icon nhsuk-icon__chevron-left"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
            height="24"
            width="24"
        >
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
            ></path>
        </svg>
        Go back</a
    >
</div>
{% endblock %} {% block content %} {# if we are going to show different content
based on the url, then this code bit is useful "{{req.query['test']}}" #}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-u-margin-bottom-4">Test request</h2>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Default panel for clinical indication
                </dt>
                <dd class="nhsuk-summary-list__value">Name_of_default_panel</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/family/disorders">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Age of onset</dt>
                <dd class="nhsuk-summary-list__value">1 year 6 months</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/family/disorders">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Disease penetrance</dt>
                <dd class="nhsuk-summary-list__value">Incomplete</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/family/disorders">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Related disorders</dt>
                <dd class="nhsuk-summary-list__value">
                    Related disease – confirmed<br />
                    Condition – confirmed<br />
                    Another related disorder – suspected<br />
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/family/disorders">Change</a>
                </dd>
            </div>
        </dl>

        <div class="nhsuk-summary-list__row nhsuk-u-margin-bottom-5">
            <h2 class="nhsuk-u-margin-bottom-2">
                Additional panels if relevant (optional)
            </h2>
        </div>

        {% if req.query['panels'] and req.query['panels'] > 0 %}
        <dl class="nhsuk-summary-list">
            {% set rangeMax = req.query['panels'] %} {% for i in range(0,
            rangeMax) -%}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Additional panel</dt>
                <dd class="nhsuk-summary-list__value">Name_of_panel</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a
                        href="/referral/test/test-request-summary?panels={{rangeMax -1}}"
                        >Remove</a
                    >
                </dd>
            </div>
            {%- endfor %}
        </dl>
        {% endif %} {% set currentPanel = 0 %} {% if req.query['panels'] and
        req.query['panels'] > 0 %} {% set currentPanel = req.query['panels'] %}
        {% endif %}
        <div class="nhsuk-summary-list__row">
            <a
                class="nhsuk-button nhsuk-button--secondary"
                data-module="nhsuk-button"
                href="/referral/test/add-panel?panels={{ currentPanel }}"
                draggable="false"
                role="button"
            >
                Add panel
            </a>
        </div>

        <div>
            <a
                class="nhsuk-button"
                data-module="nhsuk-button"
                href="/referral/family"
                draggable="false"
                role="button"
            >
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}
