{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/cancer/referral",
text: "Referral #123456789"
}
],
href: "/cancer/referral/care-team",
text: "Care team"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Care team</h1>

    <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-6">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Organisation
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ req.session.data['care-team'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="/cancer/referral/care-team">Change</a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Responsible clinician
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ req.session.data['fname'] }} {{ req.session.data['lname'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="/cancer/referral/care-team/responsible-clinician">Change</a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Clinician contact
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% if req.session.data['phone'] %}
              <p>{{ req.session.data['phone'] }}</p>
          {% endif %}
          <p>{{ req.session.data['email'] }}</p>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="/cancer/referral/care-team/responsible-clinician">Change</a>
        </dd>
      </div>

      {% if req.session.data['conditional_email'] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Main contact email
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ req.session.data['conditional_email'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="/cancer/referral/care-team/responsible-clinician">Change</a>
        </dd>
      </div>
      {% endif %}
    </dl>

    <div style="margin-top: 3rem">
      <a class="nhsuk-button" data-module="nhsuk-button" href="/cancer/referral/glh"
        draggable="false" role="button">
        Continue
      </a>
    </div>
  </div>
</div>
{% endblock %}
