{% from 'checkboxes/macro.njk' import checkboxes %} {% from
'tables/macro.njk' import table %} {% from 'select/macro.njk' import select %}
{% extends 'layout.html' %} {% block pageTitle %} Variant search results {%
endblock %} {% set cancerPatientData = true %} {% block beforeContent %} {%
endblock %} {% block outerContent %} {% endblock %} 

{% block content %} 



<div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">
      heading
    </h1>

    <p>
      text
    </p>

  </div>
</div>

{% endblock %}
