{% extends 'layout.html' %}

{% block pageTitle %}
Variant search prototype
{% endblock %}
{% set cancerPatientData = true %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}


{% endblock %}

{% block outerContent %}
<div class="nhsuk-grid-row nhsuk-u-margin-0">

</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row" style="margin-top: -68px">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Search 100K Cancer Variant dataset</h1>
        <p class="nhsuk-u-margin-bottom-2">Use this tool to search available datasets to find variants linked to different types of cancer.</p>
  
</div>

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-0">
<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label"> <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      For research use only
    </span> </h3>
  <p>The data shown is not verified and must not be used to make medical decisions or diagnoses.</p>
</div>
</div>
   
        <div class="nhsuk-form-group  nhsuk-u-margin-bottom-8">



            <form id="tumourType-form" action="/variantsearch/proposed/results" method="post" class="nhsuk-u-margin-bottom-6">
        
        {% from 'radios/macro.njk' import radios %}
        {% from 'input/macro.njk' import input %}

        {% set HGVScHtml %}
          {{ input({
            id: "HGVScV",
            name: "HGVScV",
            classes: "nhsuk-u-width-full",
            label: {
              text: "CDS change (HGVS and GRCh38) "
            },
            hint: {
              text: "For example ARID1A:c.3999_4001del, 
              ENST00000324856.13:c.3999_4001del, or
              NM_006015.6:c.3999_4001del"
            }
          }) }}
        {% endset -%}

        {% set HGVSpHtml %}
          {{ input({
            id: "HGVSpV",
            name: "HGVSpV",
            classes: "nhsuk-u-width-full",
            label: {
              text: "Protein change (HGVS and GRCh38) "
            },
            hint: {
              text: "For example ARID1A:c.Gln1332_Gln1334del, 
              ENSP00000320485.7:p.Gln1332_Gln1334del, 
              or NP_006006.3:p.Gln1332_Gln1334del"
            }
          }) }}
        {% endset -%}

        {% set positionHtml %}
          {{ input({
            id: "positionV",
            name: "positionV",
            classes: "nhsuk-u-width-full",
            label: {
              text: "Genomic position (HGVS and GRCh38) "
            },
            hint: {
              text: "CHR:POS:REF:ALT
              For example 1:26773690:CGCAGCAGCA:C"
            }
          }) }}

          
        {% endset -%}
        
        {% set regionHtml %}
          {{ input({
            id: "regionV",
            name: "regionV",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              visuallyHiddenText: "GRCh38 genomic region"
            },
            hint: {
              text: "For example chr7:140750000-140800000"
            }
          }) }}
          {# {{ input({
            id: "regionVT",
            name: "regionVT",
            classes: "nhsuk-u-width-two-thirds",
            label: {
              text: "Variant type (optional)"
            },
            hint: {
              text: "For example missense"
            }
          }) }} #}
        {% endset -%}

<div class="nhsuk-grid-column-three-quarters  nhsuk-u-margin-bottom-4">

        {{ radios({
        classes: "nhsuk-u-margin-bottom-",
          idPrefix: "searchtype",
          name: "searchtype",
          fieldset: {
            legend: {
              text: "Search type",
              isPageHeading: "false"
            }
          },
          
          
          
          items: [

            {
              value: "codingChange",
              text: "Coding Sequence (CDS) change",
              conditional: {
                html: HGVScHtml
              }
            },
            {
              value: "HGVSp",
              text: "Protein change",
              conditional: {
                html: HGVSpHtml
              }
            },
            {
              value: "position",
              text: "Genomic position ",
              conditional: {
                html: positionHtml
              }
            }

          ]
        }) }}
</div>
<div class="nhsuk-grid-column-three-quarters">

            <div class="nhsuk-u-margin-bottom-6">
            {# <label class="nhsuk-label nhsuk-label--s" for="input-with-hint-text">
                Variant consequence type (optional)
            </label>
            
            <div class="nhsuk-hint" id="input-with-hint-text-hint">
                For example missense
            </div>

            <select title="Variant type" name="varType" id="varType">
                <option></option>
                <option>missense variant</option>
                <option>synonymous variant</option>
                <option>initiator codon variant</option>
                <option>stop codon variant</option>
                <option>in-frame deletion</option>
                <option>in-frame insertion</option>
                <option>non coding transcript variant</option>
                <option>splice acceptor variant</option>
                <option>intron variant</option>
                <option>splice donor variant</option>
                <option>splice region variant</option>
                <option>frameshift variant</option>
                <option>start loss</option>
                <option>stop gained</option>
                <option>stop lost</option>
                <option>start lost</option>
                <option>transcript amplification</option>
            </select>
            #}
            <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
            <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>

{#
            <script>
                accessibleAutocomplete.enhanceSelectElement({
                    defaultValue: "",
                    selectElement: document.querySelector("#varType"),
                });
            </script>
            </div>
#}
            <label class="nhsuk-label" for="input-with-hint-text">
                Tumour type (optional)
            </label>
            
            <div class="nhsuk-hint" id="input-with-hint-text-hint">
                For example breast invasive carcinoma
            </div>

            <select title="Tumour type" name="tumourType" id="tumourType">
                <option></option>
                <option>Acute Lymphoblastic Leukaemia </option>
                <option>Acute Myeloid Lukaemia </option>
                <option>Chronic Lymphocytic Leukaemia </option>
                <option>Lymphoid </option>
                <option>Myeloid </option>
                <option>Bladder Urothelial Carcinoma </option>
                <option>Breast Invasive Carcinoma </option>
                <option>Cholangiocarcinoma </option>
                <option>Colon Adenocarcinoma </option>
                <option>Esophageal Adenocarcinoma </option>
                <option>Ovarian Endometrioid Adenocarcinoma </option>
                <option>Esophageal Squamous Cell Carcinoma </option>
                <option>Glioblastoma Multiforme </option>
                <option>Colorectal and Upper GI Neuroendocrine </option>
                <option>Ovarian High Grade Serous Carcinoma </option>
                <option>Head and Neck Squamous Cell Carcinoma </option>
                <option>Kidney Chromophobe </option>
                <option>Kidney Renal Clear Cell Carcinoma </option>
                <option>Kidney Renal Papillary Cell Carcinoma </option>
                <option>Lung Neuroendocrine </option>
                <option>Low Grade Glioma </option>
                <option>Ovarian Serous Carcinoma </option>
                <option>Liver Hepatocellular Carcinoma </option>
                <option>Lung Adenocarcinoma </option>
                <option>Lung Squamous Cell Carcinoma </option>
                <option>Mesothelioma </option>
                <option>Pancreatic Adenocarcinoma </option>
                <option>Prostate Adenocarcinoma </option>
                <option>Rectum Adenocarcinoma </option>
                <option>Sarcoma </option>
                <option>Skin Cutaneous Melanoma </option>
                <option>Stomach Adenocarcinoma </option>
                <option>Testicular Germ Cell Tumours </option>
                <option>Uterine Corpus Endometrial Carcinoma </option>
                <option>Uterine Corpus Endometrial Serous Carcinoma </option>
                <option>Uveal Melanoma </option>
            </select>

            <script>
                accessibleAutocomplete.enhanceSelectElement({
                    defaultValue: "",
                    selectElement: document.querySelector("#tumourType"),
                });
            </script>
        </div>


        <button
            class="nhsuk-button nhsuk-u-margin-bottom-8"
            data-module="nhsuk-button"
            draggable="false"
            role="button"
            type="submit"
        >
            Search
        </button>
        
<h3 class="nhsuk-heading-s">References</h3>
<p class="nhsuk-body-s">
  This table is an extended version of <a href="">Table S1 from Sosinsky et al. 2024</a> "Insights for precision oncology from the integration of genomic and clinical data of 13,880 tumours from the 100,000 Genomes Cancer Programme". 

<a href="">

</a>

<h3 class="nhsuk-heading-s">About the data</h3>
<p class="nhsuk-body-s">All data has been calculated in accordance with <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://www.acgs.uk.com/media/12832/svig-uk-supplementary-material-post-acgs-ratification-final3007.pdf">SVIG version 1.0</a>.</p>
<p class="nhsuk-body-s">These variants were re-annotated using <a href="https://useast.ensembl.org/">Ensembl</a> v107 and <a href="https://www.ncbi.nlm.nih.gov/refseq/MANE/">MANE Select</a> transcripts where applicable. If no MANE Select transcript was available, an Ensembl Canonical transcript was used. Variants which had no impact on the protein or splicing after re-annotation (i.e. annotated as synonymous, intronic, upstream or downstream variants) were omitted.</p>
<p class="nhsuk-body-s">Tumour types with less than 5 cases were omitted from the analysis.</p>
<p class="nhsuk-body-s">Please note that HGVSp. predictions were generated automatically and should be double-checked, especially for small insertion or deletion variants where a minority of variants may have complex nomenclature varying between prediction tools. Inserted protein sequence for complex insertions (inframe_insertions resulting in a delins of amino acids) in this data set were re-annotated using VariantValidator version 3.0.2.dev143+g6213c80fe.</p>
    </div>
</div>
{% endblock %}
