{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/family",
text: "Family"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2 class="nhsuk-u-margin-bottom-4">Disease status</h2>

    <form action="/rare-disease/referral/family/relationship" method="post">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          Is 	Martha Carson affected by {{ req.session.data['rare-clinical-indication'] }}?
        </legend>

        <!-- <div class="nhsuk-hint" id="example-hint">
          This includes changing your last name or spelling your name differently.
        </div> -->

        <div class="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rare-family-member-disease-status-q-1" name="rare-family-member-disease-status" type="radio" value="Affected"{{ " checked" if req.session.data['rare-family-member-disease-status'] === 'Affected'}}>
            <label class="nhsuk-label nhsuk-radios__label" for="rare-family-member-disease-status-q-1">
              Affected
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rare-family-member-disease-status-q-2" name="rare-family-member-disease-status" type="radio" value="Unaffected"{{ " checked" if req.session.data['rare-family-member-disease-status'] === 'Unaffected'}}>
            <label class="nhsuk-label nhsuk-radios__label" for="rare-family-member-disease-status-q-2">
              Unaffected
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rare-family-member-disease-status-q-3" name="rare-family-member-disease-status" type="radio" value="Uncertain"{{ " checked" if req.session.data['rare-family-member-disease-status'] === 'Uncertain'}}>
            <label class="nhsuk-label nhsuk-radios__label" for="rare-family-member-disease-status-q-3">
              Uncertain
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rare-family-member-disease-status-q-4" name="rare-family-member-disease-status" type="radio" value="Unknown"{{ " checked" if req.session.data['rare-family-member-disease-status'] === 'Unknown'}}>
            <label class="nhsuk-label nhsuk-radios__label" for="rare-family-member-disease-status-q-4">
              Unknown
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- <div>
      <a class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" href="/referral/family/disorders"
        draggable="false" role="button">
        Add another relevant disorder
      </a>
    </div> -->

    <div>
      <button class="nhsuk-button" data-module="nhsuk-button" draggable="false" role="button" type="submit">
        Save and continue
      </button>
    </div>
  </div>
  </form>
</div>
{% endblock %}
