{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/family",
text: "Family"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <form action="summary" method="post">
      <label class="nhsuk-label nhsuk-label--l" for="input-with-hint-text">
        Relationship to patient (proband)
      </label>

      {%- set relationshipList = [
        'Mother',
        'Father',
        'Full Sibling',
        'Daughter',
        'Son',
        'Twins Unknown',
        'Twins Monozygous',
        'Twins Dizygous',
        'Maternal Half Sibling',
        'Paternal Half Sibling',
        'Maternal Grandparent',
        'Paternal Grandparent',
        "Maternal Grandfather's Parent",
        "Maternal Grandmother's Parent",
        "Paternal Grandfather's Parent",
        "Paternal Grandmother's Parent",
        'Maternal Aunt',
        'Maternal Uncle',
        'Paternal Aunt',
        'Paternal Uncle',
        'Maternal Cousin through Aunt',
        'Maternal Cousin through Uncle',
        'Paternal Cousin through Aunt',
        'Paternal Cousin through Uncle',
        'Maternal First Cousin once removed',
        'Paternal First Cousin once removed',
        'Maternal Second Cousin',
        'Paternal Second Cousin',
        'Maternal Second Cousin once removed',
        'Paternal Second Cousin once removed',
        'Maternal Third Cousin',
        'Paternal Third Cousin',
        'Double First Cousin',
        'Other'
        ] %}
      <select id="rare-relationship-picker" title="Select Relationship" name="rare-relationship-picker">
        <option></option>
        {%- for relationship in relationshipList %}
        {%- set selected = ' selected' if req.session.data['rare-relationship-picker'] === relationship else '' %}
        <option value="{{ relationship }}"{{ selected }}>{{ relationship }}</option>
        {%- endfor %}
      </select>

      <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
      <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>

      <script>
        var selectEl = document.querySelector("#rare-relationship-picker")
                accessibleAutocomplete.enhanceSelectElement({
                    autoselect: true,
                    defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
                    minLength: 2,
                    selectElement: selectEl
                })
      </script>
    </div>

    <div>
      <button
      class="nhsuk-button"
      data-module="nhsuk-button" 
      draggable="false"
      type="submit"
        role="button">
        Save and continue
      </button>
    </div>
    </form>
  </div>
</div>
{% endblock %}
