{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container-fluid">

      <span class="nhsuk-caption-m">HPO observations</span>

      <h1 class="nhsuk-heading-xl">
        Has multinucleated neurons, anhydramnios, renal dysplasia, cerebellar hypoplasia, and hydranencephaly been observed in participants?
      </h1>
      <!-- <div class="nhsuk-hint" id="example-hints-hint">
        <p>Record if the HPO term been observed as present or absent in the propand and family members. If it has not been indicated mark as not recorded.</p>
      </div> -->

      <div class="nhsuk-form-group">
        <form action="summary" method="post" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-m">Proband</span>
            <h2 class="nhsuk-fieldset__heading nhsuk-heading-m">
              Jay Smith
            </h1>
          </legend>
            
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="true">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Present
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="false">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Absent
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="null">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Not recorded
              </label>
            </div>
    
          </div>
        </fieldset>
      
      </div>


      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-m">Mother</span>
            <h2 class="nhsuk-fieldset__heading nhsuk-heading-m">
              Jane Smith
            </h1>
          </legend>
            
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="true">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Present
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="false">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Absent
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="null">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Not recorded
              </label>
            </div>
    
          </div>
        </fieldset>
      
      </div>

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-m">Father</span>
            <h2 class="nhsuk-fieldset__heading nhsuk-heading-m">
              James Smith
            </h1>
          </legend>
            
          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="true">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Present
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="false">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Absent
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="null">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Not recorded
              </label>
            </div>
    
          </div>
        </fieldset>
      
      </div>



      <button class="nhsuk-button  nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit">
        Confirm and continue
      </button>


    </div>
  </div>
{% endblock %}
