{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "#",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">HPO Terms</h1>



      <div class="nhsuk-form-group">      
      
        <form action="presence-namelist-select" method="post" class="form">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l" for="HPO-terms">
              Add HPO Terms
            </label>
          </h1>

          <div class="nhsuk-hint" id="nhs-number-hint">
            Search for an HPO term by name or code.
          </div>

          <select id="hpo-picker">
            <option value="hpo">Search HPO terms</option>
            <option value="r-cy">Renal Cyst [code]</option>
            <option value="r-hy">Renal Hypoplasia [code]</option>
            <option value="r-pl">Renal plasia [code]</option>
          </select>

          <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
          <script type="text/javascript" src="/js/accessible-autocomplete.min.js">
          </script>

          <script>
            accessibleAutocomplete.enhanceSelectElement({
              defaultValue: '',
              selectElement: document.querySelector('#hpo-picker')
            }) 
          </script>

          <button class="nhsuk-button nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit">
            Add Selected HPO term
          </button>

        </form>
      </div>


    </div>
  </div>

{% endblock %}
