{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2>Referral #R321 1234 321</h2>

        <p class="nhsuk-u-margin-bottom-6">
            Data must be added to all mandatory fields before submission.
        </p>

        <!-- PATIENT STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                Patient (proband)
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">Ethan Carson</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS number</dt>
                <dd class="nhsuk-summary-list__value">944 930 3266</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Post code</dt>
                <dd class="nhsuk-summary-list__value">LS1 4HY</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Gender</dt>
                <dd class="nhsuk-summary-list__value">Male</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Ethnicity</dt>
                <dd class="nhsuk-summary-list__value">
                    Mixed White and Black Caribbean
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>
        </dl>

        <!-- CLINICAL INFO STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/clinical-info">Clinical information</a>
            </h4>

            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
        </div>

        <!-- TEST STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/test">Test request</a>
            </h4>

            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
        </div>

        <!-- FAMAILY STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/family">Family</a>
            </h4>

            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
        </div>

        <!-- CARE TEAM STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/care-team">Care team</a>
            </h4>

            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
        </div>

        <!-- GLH STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/glh">GLH</a>
            </h4>

            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
        </div>

        <!-- HPO terms STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/hpo/1">HPO terms</a>
            </h4>

            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
        </div>

        <!-- CONSENT RECORD STAGE -->
        <div
            class="nhsuk-u-margin-bottom-8"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="#">Consent record</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Cannot start yet
            </p>
        </div>

        <div>
            <button
                class="nhsuk-button"
                data-module="nhsuk-button"
                draggable="false"
                disabled
            >
                Submit referral
            </button>

            <a
                class="nhsuk-button nhsuk-button--secondary"
                style="margin-left: 1rem"
                data-module="nhsuk-button"
                href=""
                draggable="false"
                role="button"
            >
                Review by email
            </a>
        </div>

        <p>
            <a href="">Export data as CSV</a> |
            <a href="">Download test order as PDF</a>
        </p>

        <p><a href="">Cancel referral</a></p>
    </div>
</div>
{% endblock %}
