{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  href: "/referral",
  text: "Referral #123456789"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="/patient-search">
        <svg
            class="nhsuk-icon nhsuk-icon__chevron-left"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
            height="24"
            width="24"
        >
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
            ></path>
        </svg>
        Go back</a
    >
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2>Referral #R321 1234 321</h2>

        <p class="nhsuk-u-margin-bottom-6">
            Data must be added to all mandatory fields before submission.
        </p>

        <!-- PATIENT STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/patient">Patient (proband)</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">Ethan Carson</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS number</dt>
                <dd class="nhsuk-summary-list__value">944 930 3266</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Post code</dt>
                <dd class="nhsuk-summary-list__value">LS1 4HY</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Gender</dt>
                <dd class="nhsuk-summary-list__value">Male</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Ethnicity</dt>
                <dd class="nhsuk-summary-list__value">
                    Mixed White and Black Caribbean
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="">Change</a>
                </dd>
            </div>
        </dl>

        <!-- CLINICAL INFO STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/clinical-info">Clinical information</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
            <!-- <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto;">
        Not started
      </strong> -->
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Relevant clinical information
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p>
                        Patient had an MRI returned normal. Patient's maternal
                        Uncle also has hairy elbows and unusual eyes.
                    </p>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/clinical-info">Change</a>
                </dd>
            </div>
        </dl>

        <!-- TEST STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/test">Test</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
            <!-- <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto;">
        Not started
      </strong> -->
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Clinical indication</dt>
                <dd class="nhsuk-summary-list__value">
                    Intellectual disability - R29.4
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/test">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Age of onset</dt>
                <dd class="nhsuk-summary-list__value">4 years 1 months</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/test">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Disease status</dt>
                <dd class="nhsuk-summary-list__value">Incomplete</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/test">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Suspected diseases</dt>
                <dd class="nhsuk-summary-list__value"></dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/test">Add</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Additional panels</dt>
                <dd class="nhsuk-summary-list__value">
                    <p>Severe early-onset obesity - R149</p>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/test">Change</a>
                </dd>
            </div>
        </dl>

        <!-- FAMAILY STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/family">Family</a>
            </h4>

            <!-- <strong class="nhsuk-tag" style="margin-left: auto;">
        Not started
      </strong> -->
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">People being tested</dt>
                <dd class="nhsuk-summary-list__value">2</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/family">Change</a>
                </dd>
            </div>
        </dl>

        <h4>Mother</h4>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">Martha Carson</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS number</dt>
                <dd class="nhsuk-summary-list__value">944 930 3363</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Gender</dt>
                <dd class="nhsuk-summary-list__value">Female</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Life status</dt>
                <dd class="nhsuk-summary-list__value">Deceased</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href=""></a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Ethnicity</dt>
                <dd class="nhsuk-summary-list__value">White Irish</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Relationship</dt>
                <dd class="nhsuk-summary-list__value">Mother</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Disease status</dt>
                <dd class="nhsuk-summary-list__value">Affected</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="">Change</a>
                </dd>
            </div>
        </dl>

        <!-- CARE TEAM STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/care-team">Care team</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Organisation</dt>
                <dd class="nhsuk-summary-list__value">
                    Great Ormond Street Hospital
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/care-team">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Responsible clinician</dt>
                <dd class="nhsuk-summary-list__value">Dr Sue Donim</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/care-team/responsible-clinician"
                        >Change</a
                    >
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Clinician contact</dt>
                <dd class="nhsuk-summary-list__value">
                    <p>0208 965 5244</p>
                    <p>sue.donim@nhs.net</p>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/care-team/responsible-clinician"
                        >Change</a
                    >
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Main contact email</dt>
                <dd class="nhsuk-summary-list__value">
                    admins_GOSH_genetics@nhs.net
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/care-team/responsible-clinician"
                        >Change</a
                    >
                </dd>
            </div>
        </dl>

        <!-- GLH STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/glh">GLH</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
            <!-- <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto;">
        Not started
      </strong> -->
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Receiving GLH</dt>
                <dd class="nhsuk-summary-list__value">South East GLH</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/glh">Change</a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Interpreting GLH</dt>
                <dd class="nhsuk-summary-list__value">South East GLH</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/glh">Change</a>
                </dd>
            </div>
        </dl>

        <!-- CLINICAL INFO STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/referral/hpo">HPO terms</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Completed
            </p>
            <!-- <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto;">
        Not started
      </strong> -->
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">HPO terms</dt>
                <dd class="nhsuk-summary-list__value">
                    <p>Global developmental delay</p>
                    <p>Intellectual disability - profound</p>
                    <p>Generalized tonic-clonic seizures</p>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/referral/hpo">Change</a>
                </dd>
            </div>
        </dl>

        <!-- CONSENT RECORD STAGE -->

        <!-- <div class="nhsuk-u-margin-bottom-4" style="display: flex; align-items: center;">
      <h4 class="nhsuk-u-margin-bottom-0"><a href="/referral/consent">Consent record</a></h4>

      <strong class="nhsuk-tag nhsuk-tag--red" style="margin-left: auto;">
        There is a problem
      </strong>
    </div>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Label
        </dt>
        <dd class="nhsuk-summary-list__value">
          Date added
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">Change</a>
        </dd>
      </div>
    </dl> -->

        <div>
            <a
                class="nhsuk-button"
                data-module="nhsuk-button"
                href="/referral/submit"
                draggable="false"
                role="button"
            >
                Submit referral
            </a>

            <a
                class="nhsuk-button nhsuk-button--secondary"
                style="margin-left: 1rem"
                data-module="nhsuk-button"
                href=""
                draggable="false"
                role="button"
            >
                Review by email
            </a>
        </div>

        <p>
            <a href="">Export data as CSV</a> |
            <a href="">Download test order as PDF</a>
        </p>

        <p><a href="">Cancel referral</a></p>
    </div>
</div>
{% endblock %}
