{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block beforeContent %} {% from 'breadcrumb/macro.njk' import
breadcrumb %} {{ breadcrumb({ items: [ { href: "/cancer/referral", text:
"Referral #123456789" } ], href: "/cancer/referral/tumour-type", text:
"Tumour" }) }} {% endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem"></div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-label--l nhsuk-u-margin-bottom-6">Liquid tumour</h1>
        <form action="/cancer/referral/tumour-samples/" method="post" class="form">

        {% from 'radios/macro.njk' import radios %}
        {% from 'input/macro.njk' import input %}

        {% set otherHtml %}

        {{ input({
            id: "other",
            name: "other",
            classes: "nhsuk-u-width-two-thirds ",
            label: {
              text: "Please specify"
            }
          }) }}
        {% endset -%}
        
        {{
            radios({
                classes: "nhsuk-u-margin-bottom-4",
                idPrefix: "liquid-tumour-type",
                name: "liquid-tumour-type",
                fieldset: { legend: { 
                    text: "Liquid tumour type",      
                    isPageHeading: false } 
                },
                hint: { html: hintHtml },
                items: [ 
                    { value: "AML", text: "AML"}, 
                    { value: "ALL", text: "ALL" },
                    { value: "Other", text: "Other", conditional: { html: otherHtml } }
                ]
            })
        }}

        {{ input({
          label: {
            text: "SIHMDS Lab ID"
          },
          classes: "nhsuk-u-width-three-quarters nhsuk-u-margin-bottom-4",
          id: "sihmd-id",
          name: "sihmd-id"
        }) }}

        {% from 'date-input/macro.njk' import dateInput %}

        {{ dateInput({
          classes: "nhsuk-u-margin-bottom-6",
          id: "liquid-date-of-diagnosis",
          namePrefix: "liquid-date-of-diagnosis",
          fieldset: {
            legend: {
              text: "Date of this diagnosis",
              isPageHeading: false
            }
          },
          hint: {
            text: "For example, 15 3 2024"
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4"
            }
          ]
        }) }}

        <button
            class="nhsuk-button"
            data-module="nhsuk-button"
            type="submit"
            draggable="false"
            role="button"
        >
            Save and continue
        </button>
        </form>        

    </div>
</div>
{% endblock %}
