{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2>Referral #R321 1234 321</h2>

        <p class="nhsuk-u-margin-bottom-6">
            Data must be added to all mandatory fields before submission.
        </p>

        <!-- PATIENT STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                Patient (proband)
            </h4>

        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">Ethan Carson</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS number</dt>
                <dd class="nhsuk-summary-list__value">944 930 3266</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Post code</dt>
                <dd class="nhsuk-summary-list__value">LS1 4HY</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Gender</dt>
                <dd class="nhsuk-summary-list__value">Male</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Ethnicity</dt>
                <dd class="nhsuk-summary-list__value">
                    Mixed White and Black Caribbean
                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>
        </dl>

        <!-- CLINICAL INFO STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/rare-disease/referral/clinical-info">Clinical information</a>
            </h4>
            {% if not req.session.data['rare-notes'] %}
                <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
                </strong>
            {% endif %}
        </div>
        {% if req.session.data['rare-notes'] %}
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Clinical information</dt>
        <dd class="nhsuk-summary-list__value">
          {{ req.session.data['rare-notes'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="/rare-disease/referral/clinical-info">Change</a>
        </dd>
      </div>
    </dl>
    {% endif %}

        <!-- TEST STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/rare-disease/referral/test">Test request</a>
            </h4>

            {% if not req.session.data['rare-clinical-indication'] %}
            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
            {% endif %}
        </div>
        {% if req.session.data['rare-clinical-indication'] %}
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Clinical indication</dt>
                <dd class="nhsuk-summary-list__value">
                    {{ req.session.data['rare-clinical-indication'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/test">Change</a>
                </dd>
            </div>

        {% if req.session.data['test-req'] and req.session.data['test-req'].toLowerCase() == 'yes' %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Urgent</dt>
                <dd class="nhsuk-summary-list__value">
                {{ req.session.data['rare-considered-urgent'] if req.session.data['rare-considered-urgent'] }}        
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/test">Change</a>
                </dd>
            </div>
        {% endif %}
        {% if req.session.data['rare-date-onset-year'] and req.session.data['rare-date-onset-month'] %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Age of onset</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-date-onset-year'] }} years {{ req.session.data['rare-date-onset-month'] }} months</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/test/details">Change</a>
                </dd>
            </div>
        {% endif %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Disease penetrance</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-disease-penetrance'] if req.session.data['rare-disease-penetrance'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/test/details">{{ "Change" if req.session.data['rare-disease-penetrance'] else "Add" }}</a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Suspected diseases</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['suspected-disease'] if req.session.data['suspected-disease'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/test/details/disease-status">{{ "Change" if req.session.data['suspected-disease'] else "Add"}}</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Additional panels</dt>
                <dd class="nhsuk-summary-list__value">        
                    {% if req.session.data['rare-add-panel-list'] and req.session.data['rare-add-panel-list'].length > 0 %}
                        {% for panel in req.session.data['rare-add-panel-list'] -%}
                        <p>{{ panel }}</p>
                        {%- endfor %}
                    {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    {% if req.session.data['rare-add-panel-list'] and req.session.data['rare-add-panel-list'].length > 0 %}
                        <a href="/rare-disease/referral/test/test-request-summary">Change</a>
                    {% else %}
                        <a href="/rare-disease/referral/test/test-request-summary">Add</a>
                    {% endif %}
                </dd>
            </div>
        </dl>
        {% endif %}

        <!-- FAMAILY STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/rare-disease/referral/family">Family</a>
            </h4>

        {% if not req.session.data['rare-relationship-picker'] and not req.session.data['rare-family-member-disease-status'] %}
            <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                Not started
            </strong>
            {% endif %}
        </div>

        {% if req.session.data['rare-relationship-picker'] %}
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">People being tested</dt>
                    <dd class="nhsuk-summary-list__value">2</dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="/rare-disease/referral/family">Change</a>
                    </dd>
                </div>
            </dl>
        {% endif %}

        {% if req.session.data['rare-relationship-picker'] %}
        <h4>{{ req.session.data['rare-relationship-picker'] }}</h4>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">Martha Carson</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS number</dt>
                <dd class="nhsuk-summary-list__value">944 930 3363</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date of birth</dt>
                <dd class="nhsuk-summary-list__value">2 May 1998</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Gender</dt>
                <dd class="nhsuk-summary-list__value">Female</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Ethnicity</dt>
                <dd class="nhsuk-summary-list__value">White Irish</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href=""></a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Life status</dt>
                <dd class="nhsuk-summary-list__value">Deceased</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href=""></a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Relationship</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-relationship-picker'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="referral/family/relationship">Change</a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Disease status</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-family-member-disease-status'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="referral/family/disease-status">Change</a>
                </dd>
            </div>
        </dl>
        {% endif %}

        <!-- CARE TEAM STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/rare-disease/referral/care-team">Care team</a>
            </h4>

            {% if not req.session.data['rare-care-team'] %}
                <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                    Not started
                </strong>
            {% endif %}
        </div>
        {% if req.session.data['rare-care-team'] %}
        <dl class="nhsuk-summary-list">
        {% if req.session.data['rare-care-team'] %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Organisation</dt>
                <dd class="nhsuk-summary-list__value">
                    {{ req.session.data['rare-care-team'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/care-team">Change</a>
                </dd>
            </div>
        {% endif %}
        {% if req.session.data['rare-fname'] and req.session.data['rare-lname'] %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Responsible clinician</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-fname'] }} {{ req.session.data['rare-lname'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/care-team/responsible-clinician"
                        >Change</a
                    >
                </dd>
            </div>
        {% endif %}
        {% if req.session.data['rare-email'] %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Clinician contact</dt>
                <dd class="nhsuk-summary-list__value">
                    {% if req.session.data['rare-phone'] %}
                        <p>{{ req.session.data['rare-phone'] }}</p>
                    {% endif %}
                    <p>{{ req.session.data['rare-email'] }}</p>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/care-team/responsible-clinician"
                        >Change</a
                    >
                </dd>
            </div>
        {% endif %}
        {% if req.session.data['rare-conditional_email'] %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Main contact email</dt>
                <dd class="nhsuk-summary-list__value">
                    {{ req.session.data['rare-conditional_email'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/care-team/responsible-clinician"
                        >Change</a
                    >
                </dd>
            </div>
        {% endif %}
        </dl>
    {% endif %}

        <!-- GLH STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/rare-disease/referral/glh">GLH</a>
            </h4>

            {% if not req.session.data['rare-glh-picker'] %}
                <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                    Not started
                </strong>
            {% endif %}
        </div>
        
        {% if req.session.data['rare-glh-picker'] %}
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Receiving GLH</dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-glh-picker'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/glh">Change</a>
                </dd>
            </div>
        </dl>
        {% endif %}

        <!-- HPO terms STAGE -->
        <div
            class="nhsuk-u-margin-bottom-4"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="/rare-disease/referral/hpo/1">HPO terms</a>
            </h4>
            {% if not req.session.data['hpoCollection'] and not req.session.data['hpoCollection'].length > 0 %}
                <strong class="nhsuk-tag nhsuk-tag--blue" style="margin-left: auto">
                    Not started
                </strong>
            {% endif %}
        </div>

        {% if req.session.data['hpoCollection'] and req.session.data['hpoCollection'].length > 0 %}
       <dl class="nhsuk-summary-list">
            {% for entry in req.session.data['hpoCollection'] -%}
                {% if entry['hpo-term'] !== undefined %}
                    {% set hpoTermArray = entry['hpo-term'].split ('[') %}
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">{{ 'HPO terms' if loop.index0 === 0 }}</dt>
                        <dd class="nhsuk-summary-list__value">{{ hpoTermArray[0] }}</dd>
                        <dd class="nhsuk-summary-list__actions">
                            {% if loop.index0 === 0 %}
                            <a href="/rare-disease/referral/hpo/1">Change</a>
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}
            {%- endfor %}
        </dl>
        {% endif %}

        <!-- CONSENT RECORD STAGE -->
        <!-- <div
            class="nhsuk-u-margin-bottom-8"
            style="display: flex; align-items: center"
        >
            <h4 class="nhsuk-u-margin-bottom-0">
                <a href="#">Consent record</a>
            </h4>

            <p class="nhsuk-u-margin-bottom-0" style="margin-left: auto">
                Cannot start yet
            </p>
        </div> -->

        <div>
            <button
                class="nhsuk-button"
                data-module="nhsuk-button"
                draggable="false"
                disabled
            >
                Submit referral
            </button>

            <a
                class="nhsuk-button nhsuk-button--secondary"
                style="margin-left: 1rem"
                data-module="nhsuk-button"
                href=""
                draggable="false"
                role="button"
            >
                Review by email
            </a>
        </div>

        <p>
            <a href="">Export data as CSV</a> |
            <a href="">Download test order as PDF</a>
        </p>

        <p><a href="">Cancel referral</a></p>
    </div>
</div>
{% endblock %}
