{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block beforeContent %} {% from 'breadcrumb/macro.njk' import
breadcrumb %} {{ breadcrumb({ items: [ { href: "/cancer/referral", text:
"Referral #123456789" } ], href: "/cancer/referral/glh", text: "Laboratory" })
}} {% endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
      height="24"
      width="24"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Genomic Laboratory Hub (GLH)</h1>

    <form action="/cancer/referral" method="post">
      <label class="nhsuk-label" for="HPO-terms">
        GLH lab receiving sample
      </label>

      <div class="nhsuk-hint" id="nhs-number-hint">
        Your GLH has been auto-selected. Delete and update if this is not
        correct.
      </div>

      <select
        id="glh-picker"
        name="glh-picker"
        title="Pick a Genomic Laboratory Hub (GLH)"
      >
        <option>North East and Yorkshire Genomic Laboratory Hub (GLH)</option>
        <option>South East Genomic Laboratory Hub (GLH)</option>
        <option>Central and South Genomic Laboratory Hub (GLH)</option>
        <option>East Genomic Laboratory Hub (GLH)</option>
        <option>North West Genomic Laboratory Hub (GLH)</option>
        <option>North Thames Genomic Laboratory Hub (GLH)</option>
        <option>South East Genomic Laboratory Hub (GLH)</option>
        <option>South West Genomic Laboratory Hub (GLH)</option>
      </select>

      <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
      <script
        type="text/javascript"
        src="/js/accessible-autocomplete.min.js"
      ></script>

      <script>
        accessibleAutocomplete.enhanceSelectElement({
          defaultValue: "",
          selectElement: document.querySelector("#glh-picker"),
        });
      </script>

      <!-- <div class="nhsuk-form-group" style="margin-top: 3rem">
            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                <legend
                    class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l"
                >
                    <h4 class="nhsuk-u-margin-bottom-1">
                        Will the same GLH laboratory interpret returned results?
                    </h4>
                </legend>

                <div class="nhsuk-radios nhsuk-radios--conditional">
                    <div class="nhsuk-radios__item">
                        <input
                            class="nhsuk-radios__input"
                            id="contact-2"
                            name="contact"
                            type="radio"
                            value="phone"
                            aria-controls="conditional-contact-2"
                            aria-expanded="false"
                        />
                        <label
                            class="nhsuk-label nhsuk-radios__label"
                            for="contact-2"
                        >
                            Yes
                        </label>
                    </div>

                    <div class="nhsuk-radios__item">
                        <input
                            class="nhsuk-radios__input"
                            id="contact-1"
                            name="contact"
                            type="radio"
                            value="email"
                            aria-controls="conditional-contact-1"
                            aria-expanded="false"
                        />
                        <label
                            class="nhsuk-label nhsuk-radios__label"
                            for="contact-1"
                        >
                            No
                        </label>
                    </div>

                    <div
                        class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"
                        id="conditional-contact-1"
                    >
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="email">
                                Which GLH laboratory will interpret?
                            </label>
                            <input
                                class="nhsuk-input"
                                id="email"
                                name="email"
                                type="text"
                            />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div> -->

      <div style="margin-top: 3rem">
        <button
          class="nhsuk-button"
          data-module="nhsuk-button"
          draggable="false"
          type="submit"
          role="button"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
