{% extends 'layout.html' %} {% set mainClasses = "nhsuk-main-wrapper--s" %} {%
block pageTitle %} Question page {% endblock %} {% block beforeContent %} {%
from 'breadcrumb/macro.njk' import breadcrumb %} {{ breadcrumb({ items: [ {
href: "/rare-disease/referral", text: "Referral #123456789" } ], href: "/rare-disease/referral/hpo/1",
text: "HPO terms" }) }} {% endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
        <svg
            class="nhsuk-icon nhsuk-icon__chevron-left"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
            height="24"
            width="24"
        >
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
            ></path>
        </svg>
        Go back</a
    >
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <form action="presence" method="post" class="form">
                <h1 style="margin-bottom: 1rem">Add HPO term</h1>

                <div class="nhsuk-form-group">


                    <div class="nhsuk-hint" id="input-with-hint-text-hint">
                        Type to search HPO term
                    </div>

                    <select id="hpo-picker" name="hpo-picker">
                        <option></option>
                        <option>Intellectual disability – profound [HP:0002187]</option>
                        <option>Intellectual disability, mild [HP:0001256]</option>
                        <option>Intestinal polyp [HP:0005266]</option>
                        <option>Generalised tonic-clonic seizures [HP:0010818]</option>
                        <option>Generalized hirsutism [HP:0002230]</option>
                        <option>Generalized amyotrophy [HP:0003700]</option>
                        <option>Generalized hypotonia due to defect at the neuromuscular junction [HP:0003397]</option>
                    </select>

                    <link
                        rel="stylesheet"
                        href="/css/accessible-autocomplete.min.css"
                    />
                    <script
                        type="text/javascript"
                        src="/js/accessible-autocomplete.min.js"
                    ></script>

                    <script>
                        accessibleAutocomplete.enhanceSelectElement({
                            defaultValue: "",
                            selectElement:
                                document.querySelector("#hpo-picker"),
                        });
                    </script>

                    <button
                        class="nhsuk-button nhsuk-u-margin-top-4"
                        data-module="nhsuk-button"
                        type="submit"
                    >
                        Add to referral
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
