{% extends 'layout.html' %} {% set mainClasses = "nhsuk-main-wrapper--s" %} {%
block pageTitle %} Question page {% endblock %} {% block beforeContent %} {%
from 'breadcrumb/macro.njk' import breadcrumb %} {{ breadcrumb({ items: [ {
href: "/rare-disease/referral", text: "Referral #123456789" } ], href: "/rare-disease/referral/hpo/1",
text: "HPO terms" }) }} {% endblock %} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <form action="presence" method="post" class="form">
                <h1 style="margin-bottom: 1rem">HPO Terms</h1>

                <p>
                    HPO terms are important for the analysis and interpretation
                    of whole genome screening (WGS) data.
                </p>

                <p>
                    Enter HPO terms present in the patient (proband) or family
                    members being tested.
                </p>

                {{ data['hpoCollection'] | dump }}
                {% if data['hpoCollection'] and data['hpoCollection'].length > 0 %}
                <dl class="nhsuk-summary-list">

                        {% for entry in data['hpoCollection'] %}
                            {% if entry['hpo-term'] !== undefined %}
                            {% set hpoTermArray = entry['hpo-term'].split ('[') %}
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key" style="width: 24rem;">
                                    <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
                                        {{hpoTermArray[0]}}
                                    </h3>
        
                                </dt>
                                <dd class="nhsuk-summary-list__value"><div class="nhsuk-hint" id="input-with-hint-text-hint">{{ hpoTermArray[1] | replace("]","") }}</div></dd>
                                <dd class="nhsuk-summary-list__actions"><a href="/rare-disease/referral/hpo/1/remove/{{ loop.index0 }}">
                                        Remove<span class="nhsuk-u-visually-hidden">
                                            observation</span
                                        >
                                    </a>
                                </dd>
                            </div>
                            {% endif %}
        
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key" style="width: 14rem">
                                    Ethan Carson - Patient
                                </dt>
                                <dd class="nhsuk-summary-list__value">{{entry['observed-proband']}}</dd>
                                <dd class="nhsuk-summary-list__actions">
                                    <a href="/rare-disease/referral/hpo/1/presence?hpoId={{loop.index0}}">
                                        Change<span class="nhsuk-u-visually-hidden">
                                            observation</span
                                        >
                                    </a>
                                </dd>
                            </div>
                            {% if req.session.data['rare-relationship-picker'] %}
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Jane Smith - {{ req.session.data['rare-relationship-picker'] }}</dt>
                                <dd class="nhsuk-summary-list__value">{{entry['observed-family-member']}}</dd>
        
                                <dd class="nhsuk-summary-list__actions">
                                    <a href="/rare-disease/referral/hpo/1/presence?hpoId={{loop.index0}}#fam">
                                        Change<span class="nhsuk-u-visually-hidden">
                                            observation</span
                                        >
                                    </a>
                                </dd>
                            </div>
                            {% endif %}
                            <div class="nhsuk-summary-list__row" style="height: 68px" >
                                &nbsp;
                            </div>
        
                            {% endfor %}
                        </dl>
                        {% endif %}

                <div class="nhsuk-form-group">

                    <a
                        class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4"
                        data-module="nhsuk-button"
                        href="/rare-disease/referral/hpo/1/add-hpo"
                    >
                        Add HPO term
                    </a>
                </div>

                <div>
                    <a
                        class="nhsuk-button nhsuk-u-margin-top-4"
                        data-module="nhsuk-button"
                        href="/rare-disease/referral"
                    >
                        Continue
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
