{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/hpo/1",
text: "HPO terms"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
{% set hpoTermArray = data['hpo-picker'].split ('[') %}
    <h1 class="nhsuk-heading-l">
        Has {{ hpoTermArray[0]|trim }}, been observed in test participants?
    </h1>

    <div class="nhsuk-form-group">
      <form action="summary-by-term" method="post" class="form">

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading nhsuk-heading-m">
                Ethan Carson
            </h2>
          </legend>

          <div class="nhsuk-hint" id="input-with-hint-text-hint">
            Patient (proband)
          </div>

          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="hpo-question-observed-1" name="hpo-question-observed-proband" type="radio"
                value="Present">
              <label class="nhsuk-label nhsuk-radios__label" for="hpo-question-observed-1">
                Present
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="hpo-question-observed-proband" type="radio"
                value="Absent">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Absent
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-3" name="hpo-question-observed-proband" type="radio"
                value="Unknown">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-3">
                Unknown
              </label>
            </div>
          </div>
        </fieldset>

        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading nhsuk-heading-m">
                Martha Carson
            </h2>
          </legend>

          <div class="nhsuk-hint" id="input-with-hint-text-hint">
            Mother
          </div>

          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-4" name="hpo-question-observed-family1" type="radio"
                value="Present">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-4">
                Present
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-5" name="hpo-question-observed-family1" type="radio"
                value="Absent">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-5">
                Absent
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-6" name="hpo-question-observed-family1" type="radio"
                value="Unknown">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-6">
                Unknown
              </label>
            </div>
          </div>
        </fieldset>
    </div>

    <button class="nhsuk-button  nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit">
      Confirm
    </button>
  </div>
</div>
{% endblock %}
