{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check your answers template - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container-fluid">

      <span class="nhsuk-caption-m">HPO Terms</span>

      <h1 class="nhsuk-heading-xl">
        HPO term presence
      </h1>

      <div class="nhsuk-form-group">      
      
        <form action="presence-namelist-select" method="post" class="form">
          <h2 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l " for="HPO-terms">
              Add more HPO terms
            </label>
          </h2>

          <select id="hpo-picker">
            <option value="hpo">Search HPO terms</option>
            <option value="r-cy">Renal Cyst [code]</option>
            <option value="r-hy">Renal Hypoplasia [code]</option>
            <option value="r-pl">Renal plasia [code]</option>
          </select>

          <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
          <script type="text/javascript" src="/js/accessible-autocomplete.min.js">
          </script>

          <script>
            accessibleAutocomplete.enhanceSelectElement({
              defaultValue: '',
              selectElement: document.querySelector('#hpo-picker')
            }) 
          </script>

          <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit">
            Add Selected HPO term
          </button>

        </form>
      </div>

      <h2 class="nhsuk-heading-l">
        HPO summary
      </h2>

      <span class="nhsuk-caption-m">Proband</span>
      <h3 class="nhsuk-heading-m  nhsuk-u-margin-bottom-2">
        Jay Smith
      </h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Parathormone-independent increased renal tubular calcium reabsorption [HP:0003529] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Present
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renal agenesis [HP:0000104] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Present
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renal tubular lysine transport defect [HP:0008272] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Present
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

      </dl>

      <span class="nhsuk-caption-m">Mother</span>

      <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
        Jane Smith
      </h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Parathormone-independent increased renal tubular calcium reabsorption [HP:0003529] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Absent
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renal agenesis [HP:0000104] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Present
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renal tubular lysine transport defect [HP:0008272] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Present
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

      </dl>

      <span class="nhsuk-caption-m">Father</span>
      <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
        James Smith
      </h3>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Parathormone-independent increased renal tubular calcium reabsorption [HP:0003529] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Absent
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renal agenesis [HP:0000104] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Absent
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Renal tubular lysine transport defect [HP:0008272] <span class="nhsuk-u-visually-hidden"> presence for NameSmith</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Absent
          </dd>

      
          <dd class="nhsuk-summary-list__actions">
      
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> observation</span>
            </a>
      
          </dd>
      
        </div>

      </dl>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Confirm and continue
      </button>




    </div>
  </div>
{% endblock %}
