{% from 'input/macro.njk' import input %}
{% from 'radios/macro.njk' import radios %}

{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/test",
text: "Test request"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
        <form action="/rare-disease/referral/test/related-disease-summary" method="post">
        <h2>Related diseases</h2>
        {{ input({ label: { text: "Any suspected or confirmed diseases relevant
        for analysis" }, id: "suspected-diease", name: "suspected-disease" }) }}
    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
        {{ radios({ idPrefix: "example", name: "suspected-disease-status", fieldset: { legend: {
        text: "Is the diagnosis confirmed?", classes:
        "nhsuk-fieldset__legend--m", isPageHeading: false } }, items: [ { value:
        "suspect", text: "Suspect" }, { value: "confirmed", text: "Confirmed" }
        ] }) }}
    </div>
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-7">
        <button
            class="nhsuk-button"
            data-module="nhsuk-button"
            draggable="false"
            role="button"
            type="submit"
        >
            Continue
        </button>
    </div>
</form>
</div>
{% endblock %}
