{% from 'textarea/macro.njk' import textarea %}

{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/test",
text: "Test request"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2 class: nhsuk-fieldset__legend--l>Test request</h2>

        <form id="rare-clinical-indication-form" action="/rare-disease/referral/test/details" method="post">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-with-hint-text">
                Clinical Indication and code
            </label>
            <p for="test-req" class="nhsuk-hint nhsuk-u-margin-bottom-2">
            Search by clinical indication or code listed in the
            <a href="#">Test directory</a>
            </p>
<!--
            <div class="nhsuk-hint" id="input-with-hint-text-hint">
                Search by clinical indication or code listed in the
                <a href="#">Test directory</a>
            </div> -->

            <select id="rare-clinical-indication" name="rare-clinical-indication" title="Choose a Clinical Indication and code">
                <option></option>
                <option>Acutely unwell children with a likely monogenic disorder - R14.1</option>
                <option>Adult onset dystonia, chorea or related movement disorder - R56.3</option>
                <option>Adult onset hereditary spastic paraplegia - R60.3</option>
                <option>Adult onset leukodystrophy - R62.2</option>
                <option>Adult onset neurodegenerative disorder - R58.4</option>
                <option>Arthrogryposis - R83.3</option>
                <option>Bardet Biedl syndrome - R107.1</option>
                <option>Bilateral congenital or childhood onset cataracts - R31.3</option1>
                <option>Cerebellar anomalies - R84.4</option>
                <option>Cerebral malformation - R87.3</option>
                <option>Childhood onset dystonia, chorea or related movement disorder - R57.5</option>
                <option>Childhood onset hereditary spastic paraplegia - R61.4</option>
                <option>Childhood onset leukodystrophy - R109.3</option>
                <option>Cystic renal disease - R193.4</option>
                <option>Early onset or syndromic epilepsy - R59.3</option4>
                <option>Fetal anomalies with a likely genetic cause - R21.2</option>
                <option>Fetal anomalies with a likely genetic cause - non urgent - R412.1</option>
                <option>Hereditary ataxia with onset in adulthood - R54.3</option1>
                <option>Hereditary ataxia with onset in childhood - R55.4</option>
                <option>Hereditary neuropathy or pain disorder - R78.4</option>
                <option>Holoprosencephaly - NOT chromosomal - R85.2</option>
                <option>Hydrocephalus - R86.3</option>
                <option>Hypotonic infant - R69.5</option>
                <option>Intellectual disability - R29.4</option>
                <option>Likely inborn error of metabolism - R98.2</option>
                <option>Monogenic hearing loss - R67.1</option>
                <option>Neonatal diabetes - R143.4</option>
                <option>Other rare neuromuscular disorders - R381.2</option>
                <option>Paediatric disorders - R27.3</option2>
                <option>Paediatric or syndromic cardiomyopathy - R135.2</option>
                <option>Parental sequencing for lethal autosomal recessive disorders - R312.1</option>
                <option>Pigmentary skin disorders - R236.1</option>
                <option>Possible mitochondrial disorder - nuclear genes - R63.1</option1>
                <option>Primary immunodeficiency or monogenic inflammatory bowel disease - R15.4</option>
                <option>Rare syndromic craniosynostosis or isolated multisuture synostosis - R100.3
                </option>
                <option>Retinal disorders - R32.2</option>
                <option>Severe microcephaly - R88.3</option>
                <option>Skeletal dysplasia - R104.3</option>
                <option>Skeletal dysplasia - R104.4</option>
                <option>Structural eye disease - R36.2</option>
                <option>Ultra-rare and atypical monogenic disorders - R89.3</option>
                <option>Unexplained death in infancy and sudden unexplained death in childhood - R441.1
                </option>
                <option>Unexplained young onset end-stage renal disease - R257.2</option>
                <option>Acute intermittent porphyria - R169.1</option>
                <option>Family follow-up testing to aid variant interpretation - R375.1</option>
                <option>Genome-wide DNA Methylation Profiling to Aid Variant Interpretation - R431.1
                </option>
                <option>Intellectual disability – microarray only - R377.1</option>
                <option>Intestinal failure or congenital diarrhoea - R331.1</option>
                <option>Mitochondrial DNA maintenance disorder - R352.1</option>
                <option>Mitochondrial neurogastrointestinal encephalopathy - R394.1</option>
                <option>Multi Locus Imprinting Disorder (MLID) - R417.2</option>
                <option>Tubulointerstitial kidney disease - R202.1</option>
                <option>Variant re-interpretation - R442.1</option>
            </select>

            <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
            <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>

            <script>
                accessibleAutocomplete.enhanceSelectElement({
                    defaultValue: "",
                    selectElement: document.querySelector("#rare-clinical-indication"),
                });
            </script>
        </div>

        {% from 'radios/macro.njk' import radios %} {% from 'fieldset/macro.njk'
        import fieldset %} {% from 'hint/macro.njk' import hint %}

        {% set textHtml %}
        {{ textarea({
        name: "rare-considered-urgent", id: "rare-considered-urgent", label: { text: "Details of why this referral
        considered urgent. "},
        hint: {
            text: "There is currently no urgent WGS pathway. It may be possible to prioritise some cases."
        } }) }}
        {% endset -%}

        {{
            radios({
                idPrefix: "test-req",
                name: "test-req",
                fieldset: { legend: { text: "Is this test clinically urgent?", isPageHeading: false } },
                
                items: [ { value: "no", text: "No", checked: true }, { value: "yes", text: "Yes", conditional: { html: textHtml } } ]
            })
        }}


        <button
            class="nhsuk-button"
            data-module="nhsuk-button"
            draggable="false"
            role="button"
            type="submit"
        >
            Continue
        </button>
    </div>
</form>
</div>
{% endblock %}
