{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/rare-disease/referral",
text: "Referral #123456789"
}
],
href: "/rare-disease/referral/test",
text: "Test request"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %} {% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-u-margin-bottom-4">Related diseases summary</h2>
{{ data | dump}}
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">{{ data['suspected-disease'] }}</dt>
                <dd class="nhsuk-summary-list__value">{{ data['suspected-disease-status'] }}</dd>
                <dd class="nhsuk-summary-list__value">
                    <a href="/rare-disease/referral/test/disease-status">Change</a>
                </dd>
                <dd class="nhsuk-summary-list__value">
                    <a href="#">Remove</a>
                </dd>
            </div>
        </dl>

        <div>
            <a
                class="nhsuk-button nhsuk-button--secondary"
                data-module="nhsuk-button"
                href="/rare-disease/referral/test/disease-status"
                draggable="false"
                role="button"
            >
                Add another disease
            </a>
        </div>

        <div>
            <a
                class="nhsuk-button"
                data-module="nhsuk-button"
                href="/rare-disease/referral/test/test-request-summary"
                draggable="false"
                role="button"
            >
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}
