{% extends 'layout.html' %} {% block pageTitle %} NHS.UK prototype kit {%
endblock %} {% block beforeContent %} {% from 'breadcrumb/macro.njk' import
breadcrumb %} {{ breadcrumb({ items: [ { href: "/rare-disease/referral", text: "Referral
#123456789" } ], href: "/rare-disease/referral/test", text: "Test request" }) }} {% endblock
%} {% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
    <a class="nhsuk-back-link__link" href="javascript:history.back();">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        aria-hidden="true" height="24" width="24">
        <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
        </path>
      </svg>
      Go back</a>
  </div>
{% endblock %} {% block content %} {# if we are going to show different content
based on the url, then this code bit is useful "{{req.query['test']}}" #}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-4">Test panels</h1>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Default panel for clinical indication
                </dt>
                <dd class="nhsuk-summary-list__value">{{ req.session.data['rare-clinical-indication'] if req.session.data['rare-clinical-indication'] }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/rare-disease/referral/test">Change</a>
                </dd>
            </div>

        </dl>

        <div class="nhsuk-summary-list__row nhsuk-u-margin-bottom-5">
            <h2 class="nhsuk-u-margin-bottom-2">
                Additional panels if relevant (optional)
            </h2>
        </div>

        {% if req.session.data['rare-add-panel-list'] and req.session.data['rare-add-panel-list'].length > 0 %}
        <dl class="nhsuk-summary-list">
            {% for panel in req.session.data['rare-add-panel-list'] -%}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Additional panel</dt>
                <dd class="nhsuk-summary-list__value">{{ panel }}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a
                        href="/rare-disease/referral/test/test-request-summary/{{ loop.index0 }}"
                        >Remove</a
                    >
                </dd>
            </div>
            {%- endfor %}
        </dl>
        {% endif %}
        <div class="nhsuk-summary-list__row">
            <a
                class="nhsuk-button nhsuk-button--secondary"
                data-module="nhsuk-button"
                href="/rare-disease/referral/test/add-panel"
                draggable="false"
                role="button"
            >
                Add panel
            </a>
        </div>

        <div>
            <a
                class="nhsuk-button"
                data-module="nhsuk-button"
                href="/rare-disease/referral/family"
                draggable="false"
                role="button"
            >
                Save and continue
            </a>
        </div>
    </div>
</div>
{% endblock %}
