<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->

{% set ignorePatientData = true %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        WGS test order prototype
        <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span> -->
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        This prototype is for testing purposes only. 
      </p>

      <hr>

      <h2>3-7/1/25</h2>
      <h3>Cancer referral</h3>
      <p>Transcription of <a href="/cancer/referral">Cancer referral WGS test request</a>.</p>
      <a class="nhsuk-button" data-module="nhsuk-button" href="/cancer/referral"
        draggable="false" role="button">
        Start test order
      </a>
      <h3>Edit referral</h3>
      <p>Editing a test order that has already been started.</p>
      <a class="nhsuk-button  nhsuk-button--secondary" data-module="nhsuk-button" href="#"
        draggable="false" role="button">
        Edit test order
      </a>

      <hr>

      <h2>Previous prototypes</h2>

      <h3>20-25/11/24 usability testing</h3>
      <p>Transcription of HPO terms and recording which family members in a trio they are present for.</p>
      <p><a href="/rare-disease/referral">Rare disease trio referral</a> </p>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
