<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  <header class="nhsuk-header" role="banner">

    <div class="nhsuk-header__container">
      <div class="nhsuk-header__logo nhsuk-header__logo--only gel-header"><a class="nhsuk-header__link nhsuk-header__link--service" href="/" aria-label="NHS homepage">
          <img src="/images/gel-logo.svg" height="71" width="108" title="GEL Logo" class="gel-logo" />
          <span class="nhsuk-header__service-name">
            Variant search
          </span>
        </a>
      </div>
    </div>
  
<!--    {% if not ignorePatientData %}-->
<!---->
<!--    <div class="nhsuk-navigation-container">-->
<!--      <div class="nhsuk-second-header__patient-data">-->
<!--        <div class="nhsuk-second-header__patient-data__container">-->
<!--          {% if cancerPatientData %}-->
<!--          <p class="nhsuk-body nhsuk-body__first">Patient: WINRODS, Charles </p>-->
<!--          <p class="nhsuk-body">NHS number: 944 030 6517</p>-->
<!--          <p class="nhsuk-body">Date of birth: 02 February 1965</p>-->
<!--          {% endif %}-->
<!--          {% if not cancerPatientData %}-->
<!--          <p class="nhsuk-body nhsuk-body__first">Patient: CARSON, Ethan</p>-->
<!--          <p class="nhsuk-body">NHS number: 944 930 9266</p>-->
<!--          <p class="nhsuk-body">Date of birth: 2 April 2018</p>-->
<!--          {% endif %}-->
<!--      </div>-->
<!--    </div>-->
<!--      -->
<!--    {% endif %}-->
  </header>


  
</div>
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/clear-data",
        "label": "Clear session data"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
