{% extends 'layout.html' %}

{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "/referral",
text: "Referral #123456789"
}
],
href: "/referral/family",
text: "Family"
}) }}
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link" style="margin-top: 2rem">
  <a class="nhsuk-back-link__link" href="javascript:history.back();">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" height="24" width="24">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-label--l" for="input-with-hint-text">
        Relationship to patient (proband)
      </label>

      <select id="org-picker" value="">
        <option></option>
        <option>Mother</option>
        <option>Father</option>
        <option>Full Sibling</option>
        <option>Daughter</option>
        <option>Son</option>
        <option>Twins Unknown</option>
        <option>Twins Monozygous</option>
        <option>Twins Dizygous</option>
        <option>Maternal Half Sibling</option>
        <option>Paternal Half Sibling</option>
        <option>Maternal Grandparent</option>
        <option>Paternal Grandparent</option>
        <option>Maternal Grandfather's Parent</option>
        <option>Maternal Grandmother's Parent</option>
        <option>Paternal Grandfather's Parent</option>
        <option>Paternal Grandmother's Parent</option>
        <option>Maternal Aunt</option>
        <option>Maternal Uncle</option>
        <option>Paternal Aunt</option>
        <option>Paternal Uncle</option>
        <option>Maternal Cousin through Aunt</option>
        <option>Maternal Cousin through Uncle</option>
        <option>Paternal Cousin through Aunt</option>
        <option>Paternal Cousin through Uncle</option>
        <option>Maternal First Cousin once removed</option>
        <option>Paternal First Cousin once removed</option>
        <option>Maternal Second Cousin</option>
        <option>Paternal Second Cousin</option>
        <option>Maternal Second Cousin once removed</option>
        <option>Paternal Second Cousin once removed</option>
        <option>Maternal Third Cousin</option>
        <option>Paternal Third Cousin</option>
        <option>Double First Cousin</option>
        <option>Other</option>
      </select>

      <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />
      <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>

      <script>
        accessibleAutocomplete.enhanceSelectElement({
          defaultValue: "",
          selectElement: document.querySelector("#org-picker"),
        });
      </script>
    </div>

    <div>
      <a class="nhsuk-button" data-module="nhsuk-button" href="summary" draggable="false"
        role="button">
        Continue
      </a>
    </div>
  </div>
</div>
{% endblock %}